/* Estiliza o body, com fonte, margem zerada, cor */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ecebeb;
  color: #333;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

/* Cabeçalho com cor e alinhamento */
header {
  background: linear-gradient(90deg, #fa8dbb, #7b1cbb);
  color: white;
  padding: 1em;
  text-align: center;
  
}

header img {
  height: 60px;
  width: 200px;
  }

/* Decoração do nav do cabeçalho */
nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

/* quando passa o mouse no texto fica sublinhado */
nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
  max-width: 700px;
  margin: auto;
}

h2 {
  color: #591cbb;
}

/* Estiliza e padroniza os formulários */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, button {
  padding: 8px;
  font-size: 1em;
}

/* Define cor e tamanho do botão */
button {
  background-color: #fd7cb2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Troca a cor do botão ao passar o mouse por cima */
button:hover {
  background-color: #7b1cbb;
}

#livro-lista {
  list-style: none;
  padding: 0;
}

/* Lista de livros chamada pela classe é estilizada com forma e tamanho */
#livro-lista li {
  background: white;
  margin: 8px 0;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

/* Mensagem de erro, para a validação */
.erro {
  color: red;
  font-size: 0.9em;
  margin-top: -5px;
}

/* Disposição dos livros */
.livros-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

/* Personalizacao dos cards de livro */
.livro-card {
  background: white;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  transition: 0.3s;
}

/* Transição de quando passa o cursor em cima do card */
.livro-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.livro-card img {
  width: 120px;
  height: 170px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 8px;
}